body{
    margin: auto;
    text-align: center;
    background-color: rgb(174, 14, 14);
}
h1{
    color: aqua;
}
.playerone{
    color: aqua;
    margin-right: 70px;
    display: inline-block;
}
.playertwo{
    color: aqua;
    margin-left: 70px;
    display: inline-block;
}
img{
    width: 200px;height: 200px;
    border-radius: 10%;
    align-content: space-between;
}
.button{
    color: aqua;
    border-radius: 10%;
    margin-top: 15px;
    background-color: black;
    opacity: 1;
    
}
.button:hover{
    opacity: 0.5;
    animation: reverse;
    
}